
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/gianni.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="curso">Full Stack Developer Juniors</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="h1">Acerca de mi</h1>
            <p>Tengo 31 años, soy de Córdoba, Argentina. Actualmente trabajo en Konecta, estoy estudiando Contador Publico y hago el curso de Argentina Programa. Me considero una persona dedicada, decidida, inteligente , me gusta estar capacitacitandome constantemente y aprender cosas nuevas. Me agrada trabajar en equipo y me adapto rapido a los cambios.</p>
        </span>
    </div>
    </div>

