.row{
    padding: 30px;
}
img{
    width: 15%;
    padding: 20px;
}
div{
    background: #9cbfe4;
}
h1, h3{
    display: inline;

}
#trabajo{
    padding: 15px;
    padding-left: 200px;
    margin-top: -95px;
}
@media(max-width: 575px){
    img{
        width: 35%;
    }
}