<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-programa.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/giannina-natalia-savid-rodriguez-15078622b"><img src="../../../assets/linkelind.png" id="linkelind"></a>
            <a href="https://twitter.com/giannisavid"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/"><img src="../../../assets/insta.png" id="insta"></a>
            <a href="https://github.com/giannisavid?tab=repositories"><img src="../../../assets/git hub.png" id="git"></a>
            <a href="https://www.facebook.com/gianninanatalia.savidrodriguez"><img src="../../../assets/facebook.png" id="face"></a>
            <button type="button" class="btn btn-dark" (click)="login()">Loguin</button>
        </div>
    </div>
</div>

